* {
    margin: 0;
}

.small img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    position: absolute;
    right: 0;
    padding: 10px;
    display: flex;
    top: 5px;
    border-radius: 100px;
    z-index: 9999999;
}

.big img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    z-index: 9999999;
}

.header {
    /* position: absolute; */
    background-color: ivory;
    position: fixed;
    display: flex;
    top: 0;
    height: 130px;
    width: 100vw;
    margin-bottom: 0px;
    padding: 0;
    justify-content: center;
    z-index: 999999999;
}

.logo {
    position: absolute;
    left: 0;
    top: 50px;
    margin-left: 10px;
    color: black;
    z-index: 9999999;
}

h2 {
    font-family: helvetica;
    font-size: 20px;
    z-index: 9999999;
}

.otherpic {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 100%;
    z-index: 9999999;
}

.other {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999999;
}

.app {
    background-image: url("/leaf2.jpg");
    /* display: flex; */
    /* background-attachment: fixed; */
    width: 100vw;
    height: 100vh;
    overflow: auto;
    z-index: 9999998;
}
/*
.overlay {
    background-repeat: repeat-y;
    position: fixed;
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999999;
} */

.welcome {
    height: 100vh;
    z-index: 9999999;
}
.pp img {
    width: 150px;
    z-index: 9999999;
}

.friendsAcceppted {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    z-index: 9999999;
}
.awaiting {
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    z-index: 9999999;
}

h3 {
    font-family: helvetica;
    color: ivory;
    z-index: 9999999;
}

.nameHeader {
    font-family: helvetica;
    color: ivory;
    font-size: 40px;
    z-index: 9999999;
}

p {
    font-family: helvetica;
    z-index: 9999999;
}

.cards {
    text-align: center;
    z-index: 9999999;
}

.chat-container {
    height: 400px;
    width: 500px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

    align-items: center;
    background-color: ivory;
    border-radius: 30px;
    z-index: 9999999;
}

.find img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    z-index: 9999999;
}

.find {
    display: flex;
    justify-content: center;
    text-align: center;
    background-attachment: fixed;
    object-fit: cover;
    z-index: 9999999;
}

.in {
    position: fixed;
    display: flex;

    justify-content: center;
    margin-top: 10px;
    z-index: 9999999;
}

/* .header-space {
    position: absolute;
    top: 130px;
} */

.route {
    padding-top: 130px;
    z-index: 9999999;
}

.search {
    position: absolute;
    top: 110px;
    right: 130px;
    z-index: 9999999;
}

.welcome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 9999999;
}

.welcome1 {
    margin-top: 80px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 9999999;
}

.button {
    margin-top: 20px;
    margin-left: 35px;
    z-index: 9999999;
}

.email {
    margin-left: 200px;
    z-index: 9999999;
}

h1 {
    font-family: helvetica;
    color: ivory;
    z-index: 9999999;
}

.chats {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    border: 2px solid black;
    overflow-wrap: wrap;
    z-index: 9999999;
}

.l {
    padding: 20px;
    z-index: 9999999;
}

.nav {
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
    z-index: 9999999;
}

.t {
    margin-top: 58px;
    z-index: 9999999;
}

.ppp {
    color: red;
    text-align: center;
    z-index: 9999999;
}

.send {
    text-align: center;
    z-index: 9999999;
}

.o {
    text-align: center;
    z-index: 9999999;
}

a:link {
    text-decoration: none;
    z-index: 9999999;
}

a:visited {
    color: black;
    z-index: 9999999;
}

.u {
    z-index: 9999999;
}

.overlay {
    background-repeat: repeat-y;
    position: fixed;
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    overflow: scroll;
}

.p h4 {
    margin-bottom: 15px;
}

a:hover {
    color: #7fffd4;
}

button {
    border: none;
    background-color: ivory;
}

.m {
    display: flex;
    justify-content: center;
}

.t {
    color: #7fffd4;
}
